* {
	transition: all 0.45s;
}

body {
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
	text-align: center;
	font-family: "Roboto-Mono", monospace;
}

input,
button {
	padding: 14px 24px;
	border-radius: 6px;
	background-color: #efefef;
	border: none;
	font-size: 16px;
}

hr {
	width: 400px;
	background-color: #000000;
	border-color: #000000;
}
