* {
	transition: all 0.45s;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
	text-align: center;
	font-family: "Roboto-Mono", monospace;
}

input,
button {
	padding: 14px 24px;
	border-radius: 6px;
	background-color: #c4c4c4;
	color: #ffffff;
	border: none;
	font-size: 16px;
	margin: 24px 0;
}

input::placeholder {
	color: #ffffff;
	opacity: 0.9;
}

.get-new-colour {
	margin-bottom: 30px;
}

.get-new-colour,
.check-colour {
	background-color: #ececec;
	border-radius: 6px;
	padding: 28px;
}
