* {
	transition: all 0.45s;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
	text-align: center;
	font-family: "Roboto-Mono", monospace;
}

p {
	font-size: 12px;
}

input,
button {
	border-radius: 6px;
	background-color: #ffffff7e;
	color: #000000;
	border: none;
	padding: 10px 18px;
	font-size: 12px;
	margin: 20px 0;
	box-shadow: 0px 10px 20px 0px #7e7e7e9c;
}

input::placeholder {
	color: #444444;
	opacity: 0.9;
}

input {
	width: 128px;
}

.get-new-colour {
	margin-bottom: 30px;
}

.get-new-colour,
.check-colour {
	background-color: #ececec46;
	border-radius: 6px;
	padding: 22px;
}
