* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all .25s;
}
body{font-family: sans-serif;}
span {
    position: relative;
    height: 400px;
    width: 400px;
    display: block;
    border-radius: 6px;
    margin: 22px auto; 
}
p {text-align: center;}
button {
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 90px);
    padding: 12px 36px;
    border-radius: 4px;
    border: none;
    color: #000;
    background: #fff;
    transition: all 0.1s;
    box-shadow: 0px 6px 8px -2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: initial;
}
button:hover {
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px) scale(1.04);
}
button:active {
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3);
    transform: translateY(1px) scale(0.98);
}